
        .infoBox {
            border-radius: 4px !important;
            background-color: var(--mainColor);
        }

        .infocard {
            background-color: white !important;
            border: 1px solid black;
        }

        .infoDescription {
            font-size: 25px !important;
            font-weight: lighter !important;
            color: #373737 !important;
        }

        .infoTitle {
            font-size: 20px !important;
            font-weight: lighter !important;
        }

        .border8 {
            border-radius: 8px !important;
        }

        table.dataTable {
            margin-top: 0px !important;
        }

        div.dataTables_wrapper div.dataTables_info {
            padding-top: 0px;
        }


        .table>tbody>tr>td,
        .table>tbody>tr>th,
        .table>tfoot>tr>td,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>thead>tr>th {
            padding: 4px 8px 4px 8px;
        }
.bodyScroller{
    overflow-y: auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none !important; }
input[type="search"]::-webkit-search-cancel-button {
  display: none !important;
}
